html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
*,
::before,
::after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  overflow-y: scroll;
}
* {
  min-height: 0;
  min-width: 0;
}
body {
  font-size: 1.6rem;
  font-family: 'Playfair Display', sans-serif;
  color: #08090A;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: #F4FAFF;
  margin: 0 0 2.4rem 0;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0 0 2.4rem 0;
}
a {
  color: #003F91;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  transition: 0.5s cubic-bezier(0.91, 0.06, 0.47, 1.05) transform;
}
@media (min-width: 768px) {
  .container .toggle-button {
    display: none;
  }
}
.container.show-panel {
  transform: translateX(60vw);
}
.container.show-panel .feather-x {
  display: block;
}
.container.show-panel .feather-menu {
  display: none;
}
.container .feather-x {
  display: none;
}
.container .side-panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100%;
  padding: 0 2.4rem;
  background-color: #555B6E;
  transform: translateX(-60vw);
}
.container .side-panel header {
  display: flex;
  align-items: center;
  height: 6rem;
}
.container .side-panel header .feather-x {
  stroke: #F4FAFF;
}
.container .side-panel nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.container .side-panel nav a {
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #F4FAFF;
  padding: 1.6rem 0;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #6B7FD7;
  width: 100%;
  height: 6rem;
  padding: 0 2.4rem;
}
@media (min-width: 768px) {
  .topbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
.topbar .logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.6rem;
  margin: 0;
}
.topbar .logo a {
  color: #F4FAFF;
}
.topbar nav {
  display: none;
  justify-content: flex-end;
  width: 100%;
}
@media (min-width: 768px) {
  .topbar nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }
}
.topbar nav a {
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #F4FAFF;
  text-decoration: none;
  padding: 0.8rem;
  transition: 0.7s ease;
}
.topbar nav a:hover {
  color: #003F91;
}
.topbar nav > .btn {
  width: fit-content;
  color: #F4FAFF;
  border-radius: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4FAFF;
  background-color: #6B7FD7;
  padding: 2.4rem 0;
}
footer p {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}
.btn {
  display: block;
  width: 20rem;
  background-color: #003F91;
  color: #F4FAFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 1.6rem;
  margin-top: 0;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (min-width: 768px) {
  .btn {
    width: 15rem;
    padding: 1.6rem;
  }
}
.btn:hover {
  background-color: #F4FAFF;
  color: #003F91;
}
.btn a,
.btn a:hover {
  color: inherit;
}
.home .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6B7FD7;
  background-image: url(https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10rem 2.4rem;
}
@media (min-width: 768px) {
  .home .intro {
    height: 90vh;
  }
}
.home .intro .intro-content {
  background-color: rgba(107, 127, 215, 0.8);
  padding: 2.4rem;
}
@media (min-width: 768px) {
  .home .intro .intro-content {
    max-width: 700px;
  }
}
.home .intro p {
  color: #F4FAFF;
  font-size: 2rem;
}
.home .middle-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 2.4rem;
}
@media (min-width: 768px) {
  .home .middle-content {
    flex-direction: row;
  }
}
.home .middle-content .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .home .middle-content .block {
    width: 30%;
  }
}
.home .middle-content .block .feather {
  stroke: #6B7FD7;
  width: 5rem;
  height: 5rem;
  margin-bottom: 2.4rem;
}
.home .middle-content .block h2 {
  color: #08090A;
}
.home .middle-content .block p {
  color: #6B7FD7;
}
.home .more-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #003F91;
}
@media (min-width: 768px) {
  .home .more-info {
    flex-direction: row;
  }
}
.home .more-info .text-content {
  padding: 2.4rem;
}
.home .more-info .text-content h2 {
  color: #F4FAFF;
}
.home .more-info .text-content p {
  color: #F4FAFF;
}
@media (min-width: 768px) {
  .home .more-info img {
    width: 100%;
  }
}
.about .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 10rem 2.4rem 4.8rem;
  margin: 0 0 4.8rem;
}
.about .intro .intro-content {
  background-color: rgba(0, 63, 145, 0.8);
  padding: 2.4rem;
}
@media (min-width: 768px) {
  .about .intro .intro-content {
    max-width: 700px;
  }
}
.about .intro p {
  color: #F4FAFF;
}
.about .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.4rem 4.8rem;
  border-bottom: 4px solid #6B7FD7;
  margin: 0 2.4rem 4.8rem;
}
.about .quote h1 {
  color: #003F91;
}
.about .quote p {
  color: #555B6E;
}
.about .quote blockquote {
  position: relative;
  padding: 1.2rem 3rem 1.2rem 5rem;
}
.about .quote blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #6B7FD7;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
.about .quote blockquote::after {
  content: '';
}
.about .quote blockquote p {
  font-size: 2.4rem;
}
.about .quote blockquote cite {
  color: #003F91;
}
.about .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2.4rem;
}
@media (min-width: 768px) {
  .about .team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.about .team .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .about .team .member {
    flex-direction: row;
    width: 48%;
  }
}
.about .team .member .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .team .member .info a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .team .member .info img {
  width: 70%;
  border-radius: 100%;
  margin-bottom: 2.4rem;
}
.about .team .member .info h1 {
  color: #555B6E;
}
.about .team .member .info p {
  color: #555B6E;
}
