.about {

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem @spacing-lg @spacing-lg * 2;
    border-bottom: 4px solid @little-boy-blue;
    margin: 0 @spacing-lg @spacing-lg * 2;

    h1 {
      color: @air-force-blue;
    }

    p {
      color: @black-coral;
    }

    blockquote {
      position: relative;
      padding:1.2rem 3rem 1.2rem 5rem;

      &::before{
        font-family:Arial;
        content: "\201C";
        color:@little-boy-blue;
        font-size:4em;
        position: absolute;
        left: 10px;
        top:-10px;
      }

      &::after{
        content: '';
      }

      p {
        font-size: 2.4rem;
      }

      cite {
        color: @air-force-blue;
      }
    }
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0 @spacing-lg;

    @media @tablet { 
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .member {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-bottom: @spacing-lg;

      @media @tablet { 
        flex-direction: row;
        width: 48%;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        img {
          width: 70%;
          border-radius: 100%;
          margin-bottom: @spacing-lg;
        }
        h1 {
          color: @black-coral;
        }
    
        p {
          color: @black-coral;
        }
      }
    }
  
  }
}